@model Laboratorio9_Eje6.Models.materias

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>materias</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_materia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_materia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carga_horaria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carga_horaria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carreras.nombre_carrera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carreras.nombre_carrera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.docentes.ci)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.docentes.ci)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_materia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
