@model Laboratorio9_Eje5.Models.Inscripcion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Inscripcion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaInscripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInscripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Curso.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estudiante.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estudiante.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdInscripcion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
