@model IEnumerable<Laboratorio9_Eje6.Models.matriculas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.gestion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.carreras.nombre_carrera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estudiantes.ci)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.semestres.descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.gestion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_matricula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.carreras.nombre_carrera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estudiantes.ci)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.semestres.descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_matricula }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_matricula }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_matricula })
        </td>
    </tr>
}

</table>
